<!DOCTYPE html>
<html lang="en">
{% include 'v3_landing/partials/head.html' %}
<body>

{% include 'v3_landing/partials/nav.html' %}
{% include 'v3_landing/partials/hero.html' %}
{% include 'v3_landing/partials/marquee.html' %}
{% include 'v3_landing/partials/stats_bar.html' %}
{% include 'v3_landing/partials/why.html' %}
{% include 'v3_landing/partials/how_it_works.html' %}
{% include 'v3_landing/partials/before_after.html' %}
{% include 'v3_landing/partials/courses.html' %}
{% include 'v3_landing/partials/gift.html' %}
{% include 'v3_landing/partials/reviews.html' %}
{% include 'v3_landing/partials/faq.html' %}
{% include 'v3_landing/partials/cta_final.html' %}
{% include 'v3_landing/partials/teach.html' %}
{% include 'v3_landing/partials/footer.html' %}
{% include 'v3_landing/partials/scripts.html' %}

</body>
</html>
