{% include 'landing/_head.html' %}
<body class="premium-bg min-h-screen">
    <div class="content-layer">
        {% include 'fluentory_landing_partials/_header.html' %}
        
        {% include 'fluentory_landing_partials/_hero.html' %}
        {% include 'fluentory_landing_partials/_trust_strip.html' %}
        {% include 'fluentory_landing_partials/_problem.html' %}
        {% include 'fluentory_landing_partials/_method.html' %}
        {% include 'fluentory_landing_partials/_courses.html' %}
        {% include 'fluentory_landing_partials/_gift_section.html' %}
        {% include 'fluentory_landing_partials/_transformation.html' %}
        {% include 'fluentory_landing_partials/_testimonials.html' %}
        {% include 'fluentory_landing_partials/_faq.html' %}
        {% include 'fluentory_landing_partials/_final_cta.html' %}
        {% include 'fluentory_landing_partials/_teacher_recruitment.html' %}
        {% include 'fluentory_landing_partials/_footer.html' %}
    </div>

    {% include 'landing/_scripts.html' %}
