{% include 'landing/_head.html' %}
<body class="premium-bg min-h-screen">
    <div class="content-layer">
        {% include 'landing/_header.html' %}
        {% include 'landing/_hero.html' %}
        {% include 'landing/_trust_strip.html' %}
        {% include 'landing/_categories.html' %}
        {% include 'landing/_featured_courses.html' %}
        {% include 'landing/_how_it_works.html' %}
        {% include 'landing/_what_you_get.html' %}
        {% include 'landing/_accreditation.html' %}
        {% include 'landing/_testimonials.html' %}
        {% include 'landing/_guarantee.html' %}
        {% include 'landing/_faq.html' %}
        {% include 'landing/_final_cta.html' %}
        {% include 'landing/_footer.html' %}
    </div>

    {% include 'landing/_scripts.html' %}
